@model BrotherBetsLibrary.Models.Bet

@section head
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<h2>@Model.Prediction</h2>
@if (ViewBag.VotingError != null)
{
    <div class="alert alert-warning">
        <strong>Your Bet Was Not Recorded</strong><br/> @ViewBag.VotingError
    </div>
}
@if (!Model.Complete)
{
    <div class="text-right">
        <a href="@Url.Action("Complete", "Home", new {Model.Id})">Mark As Complete</a>
    </div>
}


@using(Html.BeginForm()) 
{ 
    <input type="hidden" name="betId" value="@Model.Id"/>  

    <label class="control-label col-md-2">Outcome</label>
    <div class="col-md-10">
        @foreach (var option in Model.BetOptions)
        {
            <div class="radio">
                <label><input type="radio" name="outcomeId" value="@option.Id"> @option.Outcome</label>
            </div>
        }
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Your Name</label>
        <div class="col-md-10">
            <input type="text" id="BettorAutocomplete" name="bettorName" class="form-control" required/>
            <p><b>(Make sure you use a consistant name)</b></p>
        </div>
    </div>

    <div class="form-group">
        <a href="@Url.Action("Index", "Home")" class="btn btn-default">< Back</a>
        @if (DateTime.Today <= Model.Expiration && !Model.Complete)
        {
            <input type="submit" value="Place Your Bet!" class="btn btn-primary"/>
        }
        else
        {
            <input type="button" value="Voting Is Closed!" class="btn btn-danger" />
        }
        
    </div>
}

@Html.Action("BetPredictionList","CommonView", new { betId =  Model.Id })


@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/Scripts/bettor-autocomplete.js"></script>
}