@model IEnumerable<BrotherBetsLibrary.Models.Bet>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brother Bets</h1>
    <p class="lead">Show your skills</p>
</div>

<h3>Bets</h3>
<a href="@Url.Action("Create", "Home")" class="btn btn-primary pull-right"> Create A New Bet</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prediction)
        </th>
        <th>
            About
        </th>
        <th>
            Created By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prediction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brother.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Name)
            </td>
            <td>
                @item.Expiration.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Make A Guess", "Guess", new { id=item.Id })
            </td>
        </tr>
    }

</table>
