@model IEnumerable<BrotherBetsLibrary.Models.Bet>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Brother Bets</h1>
    <p class="lead"><b>Show your skills</b></p>
</div>

<a href="@Url.Action("Create", "Home")" class="btn btn-primary btn-sm pull-right"> Add Bet </a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prediction)
        </th>
        <th>
            About
        </th>
        <th>
            Created By
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expiration)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prediction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brother.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Name)
            </td>
            <td>
                @item.Expiration.ToShortDateString()
            </td>
            <td>
                @if (item.Complete)
                {
                    <a href="@Url.Action("Result", new {id = item.Id})" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> See Result</a>
                }
                else
                {
                    <a href="@Url.Action("Guess", new {id = item.Id})" class="btn btn-primary">Make A Guess <i class="fa fa-comment" aria-hidden="true"></i></a>
                }
            </td>
        </tr>
    }

</table>
